<h2>All Historical Landmarks</h2>
<% Landmark.all.each do |landmark| %>
  <h4>Name:<%=landmark.name%></h4>
  <h4>Year Completed: <%=landmark.year_completed%></h4>
<% end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
