<h2>Create New Landmark</h2>
<form>
  <label>Create New Landmark:</label><br><br>
  <label>Name:</label>
    <input type="text" name="landmark[name]" id="landmark_name"></input>
  <label>Year:</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input>
    
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
